
    * {box-sizing: border-box;
      margin: 0;
    padding: 0;}

body {background-color: black;
display: flex;
justify-content: center;
align-items: center;}

    .circulo {display: flex;
width: 580px;
height: 580px;
margin: 10px 10px;
border-radius: 50%;
border: 1px solid white;
box-shadow: inset 0 0 10px #ffffff,0 0 10px #ffffff, inset 0 0 50px #ffffff,0 0 500px #ffffff;}

 .circulo-padre {display: flex;
  background-color: white;
justify-content: center;
align-items: center;}

 .circulo-hijo {background-color: rgb(0, 0, 0);
width: 500px;
height: 500px;
box-shadow: inset 0 0 50px #ffffff,0 0 50px #ffffff, inset 0 0 50px #ffffff,0 0 500px #ffffff;}

.botones {display: flex;
position: fixed;}

.boton {background-color: green;
width: 20px;
height: 20px;
border-radius: 50%;
}
.boton:hover {transform: scale(1.1);}

.boton-violeta {background-color: #d000ff;}
.boton-white {background-color: white;}
.boton-turquesa {background-color: #00ffff;}